<h4>Login: </h4><br>
<div class="card">
    <div class="card-body">
        <form action="/usuarios/login" method="POST">
        <label for="email">E-mail: </label>    
            <input type="email"  name="email" class="form-control mt-2" required>


        <label for ="senha">Senha: </label>
            <input type="password" name="senha"class="form-control mt-2" required><br>

            <button class="btn btn-success mt-3S"  type="submit">Entrar</button>
        </form>   
    </div>    
 </div>